# 文心一言 飞浆平台分发
# See https://aistudio.baidu.com/index/accessToken
EB_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# 通义千问
# See https://help.aliyun.com/zh/dashscope/developer-reference/activate-dashscope-and-create-an-api-key
QWEN_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxx"
