# 文心一言 飞浆平台分发
# See https://aistudio.baidu.com/index/accessToken
EB_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# 通义千问
# See https://help.aliyun.com/zh/dashscope/developer-reference/activate-dashscope-and-create-an-api-key
QWEN_API_KEY="sk-xxxxxxxxxxxxxxxxxxxxx"

# 讯飞星火
# See https://xinghuo.xfyun.cn/sparkapi
SPARK_APP_ID="xxxxxx"
SPARK_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SPARK_API_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
