pnpm-lock.yaml               merge=text
shrinkwrap.yaml              merge=binary
npm-shrinkwrap.json          merge=binary
yarn.lock                    merge=binary

*.json                       linguist-language=JSON-with-Comments

* text=auto eol=lf
